[Desktop Entry]
Name=MineTime
GenericName=MineTime
Comment=Multiplayer infinite-world block sandbox
Exec=minetime
Icon=minetime
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
Name[en_US]=minetime.desktop
